Python Lists
A list is a dynamic, ordered,mutable sequence of elements
Characteristics:
Indexed
Mutable
Allow Duplicates
Heterogenous
Dynamic size

append(),extend(),insert(),remove(),pop(),clear(),index(),count(),reverse(),sort(),copy(),len(),sum(),max(),min()

In [ ]:
#Creating a List
my_list = [10,20,30,40,50]
print("List:",my_list)

List: [10, 20, 30, 40, 50]

# 1) Using Append **Function**

In [ ]:
#Append
names = ["Shriraj","Sairaj","Siddharth"]
names.append("Yash")
print("After Append :",names)

After Append : ['Shriraj', 'Sairaj', 'Siddharth', 'Yash']

extend()

In [ ]:
names1 = ["Shriraj","Sairaj","Siddharth"]
names2 = ["Bhoomi","Smita","Varad"]
names1.extend(names2)
print("After extend: ",names1)

After extend:  ['Shriraj', 'Sairaj', 'Siddharth', 'Bhoomi', 'Smita', 'Varad']

**3) insert()**

In [ ]:
names1 = ["Shriraj","Sairaj","Siddharth","Shriraj"]
names1.insert(1,"Ananya")
names1.insert(3,"Shreya")
print("After Insert",names1)

After Insert ['Shriraj', 'Ananya', 'Sairaj', 'Shreya', 'Siddharth']

**4) remove()**

In [ ]:
names1 = ["Shriraj","Sairaj","Siddharth","Shriraj"]
names1.remove("Shriraj")#Removes the first one
print("After remove: ",names1)

After remove:  ['Sairaj', 'Siddharth', 'Shriraj']

**5) pop()**

In [ ]:
num = [10,20,30,40]
pop_value = num.pop()
print("Popped value",pop_value)
print("After pop:",num)


string= ["Shriraj","Sairaj","Siddharth","Shriraj"]
pop_value = string.pop(3)
print("Popped value",pop_value)
print("After pop:",string)

Popped value 40
After pop: [10, 20, 30]
Popped value Shriraj
After pop: ['Shriraj', 'Sairaj', 'Siddharth']

6)clear()

In [ ]:
num = [10,20,30,40]
num.clear()
print(num)

[]

**Index(value)**

In [ ]:
num = [10,20,30,40]
index_pos = num.index(30)
print("Index of 30: ", index_pos)

Index of 30:  2

**count()**

In [ ]:
cars = ["Maserati","Maserati","Maserati","Maserati","Audi","BMW","BMW"]
print(cars.count("Maserati"))

4

reverse()

In [ ]:
cars = ["Maserati","Maserati","Maserati","Maserati","Audi","BMW","BMW"]
rev=cars.reverse()
print(cars)

['BMW', 'BMW', 'Audi', 'Maserati', 'Maserati', 'Maserati', 'Maserati']

sort()

In [ ]:
num = [3,1,4,2]
num.sort()
print(num)
num.sort(reverse = True)
print(num)

[1, 2, 3, 4]
[4, 3, 2, 1]

copy()

In [ ]:
num = [1,2,3,4]
copy = num.copy()
print(copy)

[1, 2, 3, 4]

len()

In [ ]:
num = [1,2,3,4]
print(len(num))

4

sum()

In [ ]:
num = [1,2,3,4]
total = sum(num)//2
print(total)

5

min and max

In [ ]:
num = [1,2,3,4]
min = min(num)
max = max(num)
print(min,max)

1 4